extends layout

block content
  script(src="http://www.html5canvastutorials.com/libraries/kinetic-v4.0.3.js")
  style
    html, body {
      width:  100%;
      height: 100%;
    }
    body {
      margin: 0px;
      padding: 0px;
    }
    .container {
      position: fixed;
      border: 1px solid red;
      width: 100%;
      height: 100%;
      background: lightGray;
    }
    #myCanvas {
      width: 90%;
      height: 90%;
      padding-top: 20px;
    }
    #container {
      background: lightGray;
    }
  div#container

block javascript_content
  != js('radar')
  script
    $(function() { 
      circle = new Radar();
      circle.add_circle(205);
      circle.add_circle(300);
      circle.add_circle(250);
      circle.add_circle(255);
      circle.add_circle(110);

      circle.draw_horizontal_line(20);
      circle.draw_vertical_line(20);
      circle.draw_main_layer()
    });
