extends layout

block content
  //- canvas#background
  ul.tw.content.unstyled
    li#intro.page
      .row-fluid
        .hero-unit
          h1
            .logo
            | Technology Radar
          a.btn.btn-info.btn-large(href="javascript: window.location='/about';", style='position: absolute; right: 20px; top: 45px') Learn more

      .row-fluid
        .span6
          .callout
            .t
            .l
            .r
            .b
            .content
              p.title Every game wins!
              p Every player will receive a cool ThoughtWorks Technology Radar t-shirt <em>(one t-shirt per player while stock last)</em>
          .tshirt-image

          br
          br

          .callout
            .t
            .l
            .r
            .b
            .content
              p.title Enter the draw to win a pair of headphones!
              p Score at least three in the game and sign up for the Technology Radar Publication to enter the draw to win a pair of limited edition blue <b>Bose QuietComfort® 15 Acoustic Noise Cancelling® Headphones</b>
          .headphones-image

          a#terms.btn.btn-info(href="javascript: window.location='/terms';") Terms and Conditions


        .span6
          h2(style='margin:0; padding:0; width: auto; text-align:center') How to Play?
          #instructions(style='text-align:center')
            p Move the green marble to its nominated<br/> black spot on the radar
            p Tilt the iPad to move
            p Avoid the obstacles
            p You have 30 seconds!
            button#play.hidden(type="submit",data-loading-text="Scanning...", style="background:none; -webkit-appearance:none; border: none")
              .css-radar
                .c1
                .c2
                .c3
                .c4
                .c5
                .axis-v
                .axis-h
                .radar-sweep
                  .sweep
                .radar-label Play!
                .radar-label-disabled reticulating splines

    li#game.page
      .hero-unit(style='padding:8px 40px 4px 40px')
        h1(style='font-size:26px') Technology Radar Game
      #radar

    li#result.page
      .hero-unit
        h1(style='text-align:left') Game Over!
        .callout-square(style='position:absolute; top:10px; left:530px; background: white')
          .t(style='border-right: 200px solid #49AFCD')
          .l(style='border-bottom: 100px solid #49AFCD')
          .r(style='border-bottom: 100px solid #49AFCD')
          .b(style='border-right: 200px solid #49AFCD')
          .content
            h3(style='color:#000; margin: 0; margin-top: 7px; font-weight: normal') Your score
            #score(style='color:#000; font-size: 60px; font-weight: bold; margin-top: 5px') 0
        .callout-square(style='position:absolute; top:10px; left:730px; background: transparent; opacity:0.8')
          .content
            h3(style='color:#FFF; margin: 0; margin-top: 7px; font-weight: normal') High score
            #score(style='color:#FFF; font-size: 60px; font-weight: bold; margin-top: 5px') 4

      .row-fluid(style='margin-left: 50px;')
        .span5
          .callout-vertical(style='height:385px')
            .t
            .l
            .r
            .b
            .content
              h2(style='width:350px') Congratulations! 
              h2(style='font-weight:normal; position: relative; margin-top: -10px') You've won...
              p a cool ThoughtWorks Technology Radar t-shirt. 
              .you-win-tshirt-image(style='top: 0; left: 20px; z-index:4; margin: 0; height:140px')
              p
                b Contact a ThoughtWorks staff member to collect your prize!&nbsp;
                span(style='font-style:italic') (one t-shirt per player while stocks last)

          div(style='text-align:center; padding-left: 80px')
            br
            p This page will self-destruct in
            p
              button#restart.btn.btn-large(type="submit") Restart Now!
            p seconds...



        .span5
          .callout-vertical.winner.signup-form
            .t
            .l
            .r
            .b
            .form-background
            .content
              h2(style='width:350px') ...and you've qualified
              p to enter the draw to win Bose QuietComfort® 15 Acoustic Noise Cancelling® headphones. 
                span(style='font-weight:bold') Subscribe to the twice-yearly ThoughtWorks Technology Radar to be in the running.
              .qualified-headphones-image

              h2(style='font-weight:normal; margin-top: -140px; font-size: 20px; color:#666;') Subscribe to the Radar
              div(style='text-align:center')
                form#signup(action="/punters", method="POST")
                  div.field
                    input#full-name(placeholder="Full Name", type="text",name="fullName", required="true")
                  div.field
                    input#company(placeholder="Company", type="text", name="company", required="true")
                  div.field
                    input#email(placeholder="Email", type="email", name="emailAddress", required="true")
                  div.field
                    select(name="role", required="true")
                      option(value='') Role...
                      option(value='CIO/CTO') CIO/CTO
                      option(value='CxO') CxO (Other)
                      option(value='Consultant') Consultant
                      option(value='Developer') Developer
                      option(value='Director') Director
                      option(value='Manager') Manager
                      option(value='Technologist') Technologist
                      option(value='VP') VP
                      option(value='Other') Other...
                  button.btn.btn-success.btn-large(type="submit", style='width:216px')
                    strong Subscribe
                    br
                    | and enter the draw


          .callout-vertical.signup-thanks(style='background:#DDD; display:none')
            .t
            .l
            .r
            .b
            .content
              h2(style='width:350px') Thanks for subscribing
              h2(style='font-weight:normal; margin-top: -10px') to the Tech Radar!
              .in-draw-headphones-image
              p You are now in the draw to win the Bose QuietComfort® 15 Acoustic Noise Cancelling® headphones.&nbsp;
                b The winner will be announced at 5pm on the closing day of the YOW! 2012 conference.
              p(style='text-align:center; margin-top:20px')
                a.btn.btn-info.btn-large.play-again(href="javascript: window.location='/';") Play again


          .callout-vertical.loser(style='background:#DDD')
            .t
            .l
            .r
            .b
            .content
              h2 &nbsp;
              h2(style='font-weight:normal; font-size:30px; margin-top: -10px') but no headphones :(
              p 
                | You need to score a <b>minimum of three marbles</b> in order to enter the draw to win the Bose QuietComfort® 15 Acoustic Noise Cancelling® headphones. 
                | Play again to improve your score and enter the draw!
              p(style='text-align:center; margin-top:140px')
                a.btn.btn-info.btn-large.play-again(href="javascript: window.location='/';") Play again





block javascript_content
  script(type="text/javascript",src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.1/require.min.js")
  script(type="text/javascript",src="/js/main.js")
  script
    require(['jquery.bootstrap']);

    require(['jquery', 'game'], function($, Game){
      $(Game);
    });

    function blockMove(){
       event.preventDefault();
    }
    window.addEventListener('touchmove', blockMove);

