extends layout

block content
  script
    $(function() {
      $(".draggable").draggable();
      $(".droppable").droppable({
        drop: function(event,ui) {
          console.log("dropped");
          color = $(this).attr('class').match(/(color.*) /)[1];
          old_color = ui.draggable.attr('class').match(/(color.*) /);
          if(old_color) {
            ui.draggable.removeClass(old_color[1]);
          }
          ui.draggable.addClass(color);
        }
        });
      });
  style
     .draggable { width: 100px; height: 50px; padding: 0.5em; float: left; margin: 10px 10px 10px 0; }
     .droppable { width: 150px; height: 150px; padding: 0.5em; float: left; margin: 10px; font-size: 20px; font-weight: bold; }
     .color-red { background: red; }
     .color-green { background: green; }
     .color-yellow { background: yellow; }
     .color-blue { background: blue; }
  h1 YOW
  p Welcome to #{title}
  p Drag us to correct ring
  hr
  each item in technologies
    div.draggable.ui-widget-content
      p=item

  div.droppable.ui-widget-content.color-red
    <p>HOLD</p>
  div.droppable.ui-widget-content.color-blue
    <p>ADOPT</p>
  div.droppable.ui-widget-content.color-green
    <p>TRY</p>
  div.droppable.ui-widget-content.color-yellow
    <p>ACCESS</p>
