extends layout

block content
  style
    html, body {
      width:  100%;
      height: 100%;
    }
    body {
      margin: 0px;
      padding: 0px;
    }
    .content > li {
      position: fixed;
      width: 1024px;
      height: 740px;
    }

    #radar {
      background: white;
      position:fixed;
      width: 864px;
      height: 694px;
      left: 50%;
      margin-left: -432px;
      margin-top: -20px;
    }
    .content{
      margin-top: 40px;
    }

    .hidden{
      display: none;
    }

    .hero-unit {
      color: white;
      background-color: #49AFCD;
    }

    .hero-unit h1 {
      font-family: marydale;
      margin-bottom: 10px;
    }

    //- #intro {
    //-   padding-top: 50px;
    //- }
    #intro #play {
      padding: 30px;
      font-size: 100pt;
    }
    //- #intro #instructions {
    //-   padding-top: 50px;
    //- }

    #intro #instructions i {
      margin-left: -5px;
      margin-right: 5px;
    }

    #replay{
      margin-left: 300px;
      padding-top: 20px;
    }

  //- canvas#background
  ul.tw.content.unstyled
    li#intro
      .row-fluid
        .hero-unit
          h1 ThoughtWorks Technology Radar Game

      .row-fluid
        .span6.offset1
          p Every game wins! Play to receive
            strong ThoughtWorks
            | Technology Radar T-shirt.
          p One T-shirt per player while stock lasts.

          p You can also get into the draw to win&nbsp;
            i.icon-headphones
            strong Bose QuietComfort速 15 Acoustic Noise Cancelling速 headphones
            | by signing up for the
            strong ThoughtWorks
            | Technology Radar Publication.

          h2 How to play?
          ul#instructions.unstyled
            li
              i.icon-star
              a(href="#") Move the
                span.marble green marble
                | to its nominated
                span.hole black spot
                | on the radar
            li
              i.icon-move
              a(href="#") Tilt the ipad to move
            li
              i.icon-asterisk
              a(href="#") Avoid the
                span.obstacle obstacles
            li
              i.icon-time
              a(href="#") You have 30 seconds!
            li
              i.icon-play
              a(href="#") Press "Play!" to start
        .span4.offset1
          button#play.btn.btn-info.btn-large.hidden(type="submit",data-loading-text="Scanning...")
            | Play!
          br
          br
          a(href="/about").btn.btn-large.btn-info
            | Learn about the Technology Radar

    li#game.hidden
      #radar

    li#result.hidden
      .hero-unit
        h1 Game Over!
        .row-fluid
          .span2.offset2
            .well
              table
                thead
                  tr
                    th Your Score
                tbody
                  tr
                    td#score 0
          .span2.offset1
            .well
              table
                thead
                  tr
                    th Latest Scores
                tbody
                  tr
                    td#latest_scores 0 0 3

          .span2.offset1
            .well
              table
                thead
                  tr
                    th Highest Scores
                tbody
                  tr
                    td#top_scores 10 7 6
      .offset1.span11
        .row-fluid
          .well.well-large
            p You win:
              img(src="tshirt.jpg")
        .row-fluid
          .well.well-small
            p
              | You can also get into the draw to win
              i.icon-headphones
              strong Bose QuietComfort速 15 Acoustic Noise Cancelling速
              | headphones by subscribing to the
              strong ThoughtWorks
              | Technology Radar (free of charge)
            p
              | To claim your T-shirt and get into the draw please contact ThoughtWorks staff
        .row-fluid
          .span6
            p This page will self-destruct in
              button#restart.btn.btn-info.btn-large(type="submit") Restart Now!
              | seconds...
          .span5
            p Or you can
              button#playagain.btn.btn-info.btn-large(type="submit") Play again


      //- #form
      //-   form#signup(action="/punters", method="POST")
      //-     div.field
      //-       input#full-name(placeholder="Full Name", type="text",name="fullName", required="true")
      //-     div.field
      //-       input#company(placeholder="Company", type="text", name="company", required="true")
      //-     div.field
      //-       input#email(placeholder="Email", type="email", name="emailAddress", required="true")
      //-     button.btn.btn-success.btn-large(type="submit")
      //-       | Sign up
      //-   form#skip
      //-     button.btn.btn-warning.btn-large(type="submit")
      //-       | I don't want to sign up

    li#replay.hidden




block javascript_content
  script(type="text/javascript",src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.1/require.min.js")
  script(type="text/javascript",src="/js/main.js")
  script
    require(['jquery.bootstrap']);

    require(['jquery', 'game'], function($, Game){
      $(Game);
    });