extends layout

block content
  //- canvas#background
  ul.tw.content.unstyled
    li#intro.hidden
      .row-fluid
        .hero-unit
          h1 ThoughtWorks Technology Radar
          a.btn.btn-info(href="/about", style='position: absolute; right: 20px; top: 45px') Learn more

      .row-fluid
        .span5.offset1
          .callout
            .t
            .l
            .r
            .b
            p.title Every game wins! 
            p Play to receive ThoughtWorks Technology Radar t-shirt
            p <em>* one t-shirt per player while stock lasts</em>
          .tshirt-image

          br
          br

          .callout
            .t
            .l
            .r
            .b
            p.title Sign-up for the Technology Radar
            p to get into the draw to win <b>Bose QuietComfort速 15 Acoustic Noise Cancelling速 Headphones</b>
          .headphones-image

          a#terms.btn.btn-info(href="/terms") Terms and Conditions


        .span5
          h2(style='margin:0; padding:0; width: auto; text-align:center') How to Play?
          #instructions(style='text-align:center')
            p Move the green marble to its nominated<br/> black spot on the radar
            p Tilt the iPad to move
            p Avoid the obstacles
            p You have 30 seconds!
            button#play.hidden(type="submit",data-loading-text="Scanning...", style="background:none; -webkit-appearance:none; border: none")
              .css-radar
                .c1
                .c2
                .c3
                .c4
                .c5
                .axis-v
                .axis-h
                .radar-sweep
                  .sweep
                .radar-label Play!

    li#game.hidden
      #radar

    li#result.hidden
      .hero-unit
        h1 Game Over!
        .row-fluid
          .span2.offset2
            .well
              table
                thead
                  tr
                    th Your Score
                tbody
                  tr
                    td#score 0
          .span2.offset1
            .well
              table
                thead
                  tr
                    th Latest Scores
                tbody
                  tr
                    td#latest_scores 0 0 3

          .span2.offset1
            .well
              table
                thead
                  tr
                    th Highest Scores
                tbody
                  tr
                    td#top_scores 10 7 6
      .offset1.span11
        .row-fluid
          .well.well-large
            p You win:
              img(src="tshirt.jpg")
        .row-fluid
          .well.well-small
            p
              | You can also get into the draw to win
              i.icon-headphones
              strong Bose QuietComfort速 15 Acoustic Noise Cancelling速
              | headphones by subscribing to the
              strong ThoughtWorks
              | Technology Radar (free of charge)
            p
              | To claim your T-shirt and get into the draw please contact ThoughtWorks staff
        .row-fluid
          .span6
            p This page will self-destruct in
              button#restart.btn.btn-info.btn-large(type="submit") Restart Now!
              | seconds...
          .span5
            p Or you can
              button#playagain.btn.btn-info.btn-large(type="submit") Play again


      //- #form
      //-   form#signup(action="/punters", method="POST")
      //-     div.field
      //-       input#full-name(placeholder="Full Name", type="text",name="fullName", required="true")
      //-     div.field
      //-       input#company(placeholder="Company", type="text", name="company", required="true")
      //-     div.field
      //-       input#email(placeholder="Email", type="email", name="emailAddress", required="true")
      //-     button.btn.btn-success.btn-large(type="submit")
      //-       | Sign up
      //-   form#skip
      //-     button.btn.btn-warning.btn-large(type="submit")
      //-       | I don't want to sign up

    li#replay.hidden




block javascript_content
  script(type="text/javascript",src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.1/require.min.js")
  script(type="text/javascript",src="/js/main.js")
  script
    require(['jquery.bootstrap']);

    require(['jquery', 'game'], function($, Game){
      $(Game);
    });