extends layout

block content
  script(src="http://www.html5canvastutorials.com/libraries/kinetic-v4.0.3.js")
  style
    html, body {
      width:  100%;
      height: 100%;
    }
    body {
      margin: 0px;
      padding: 0px;
    }
    .container {
      position: fixed;
      border: 1px solid red;
      width: 100%;
      height: 100%;
      background: lightGray;
    }
    #myCanvas {
      width: 90%;
      height: 90%;
      padding-top: 20px;
    }
    #container {
      background: lightGray;
    }
    .foreground {
      z-index: 100
    }
  div#container

block javascript_content
  != js('radar')
  != js('circle')
  script
    $(function() { 
      radar = new Radar();
      x = radar.x
      y = radar.y
      trial_circle = new Circle({radius:205, label:"TRIAL", x:x, y:y});
      hold_circle = new Circle({radius:300, label:"HOLD", x:x, y:y});
      assess_circle = new Circle({radius:250, label:"ASSESS", x:x ,y:y});
      assess_circle_2 = new Circle({radius:255, x:x, y:y});
      adopt_circle = new Circle({radius:110, label:"ADOPT", x:x, y:y});

      radar.add_circle(trial_circle)
      radar.add_circle(hold_circle)
      radar.add_circle(assess_circle)
      radar.add_circle(adopt_circle)

      radar.draw_horizontal_line(20)
      radar.draw_vertical_line(20)
      radar.generate_technologies()
      radar.draw_main_layer()
    });
