extends layout

block content
  style
    html, body {
      width:  100%;
      height: 100%;
    }
    body {
      margin: 0px;
      padding: 0px;
    }
    .content > li {
      position: fixed;
      width: 1024px;
      height: 740px;
    }

    #radar {
      background: white;
      position:fixed;
      width: 864px;
      height: 694px;
      left: 50%;
      margin-left: -432px;
      margin-top: -20px;
    }
    .content{
      margin-top: 40px;
    }

    .hidden{
      display: none;
    }

    .hero-unit {
      color: white;
      background-color: #49AFCD;
    }

    .hero-unit h1 {
      font-family: marydale;
      margin-bottom: 10px;
    }

    //- #intro {
    //-   padding-top: 50px;
    //- }
    #intro #play {
      padding: 30px;
      font-size: 100pt;
    }
    //- #intro #instructions {
    //-   padding-top: 50px;
    //- }

    #intro #instructions i {
      margin-left: -5px;
      margin-right: 5px;
    }

    .retro {
      font-family: delusion;
      text-transform: uppercase;
    }
    #replay{
      margin-left: 300px;
      padding-top: 20px;
    }
  //- canvas#background
  ul.tw.content.unstyled
    li#intro
      .row
        .hero-unit
          h1 ThoughtWorks Technology Radar Game
          p The 
            strong ThoughtWorks 
            | Technology Radar is published every six months.  
          p To celebrate this summer's edition we invite you to show your grasp of current trends in technology adoption.

      .row
        .span4.offset1
          h2 Read this first!
          ul#instructions.unstyled
            li
              i.icon-star
              a(href="#") Move the technology to the hole on the radar
            li
              i.icon-move
              a(href="#") Tilt the ipad to move
            li
              i.icon-asterisk
              a(href="#") Avoid the obstacles
            li
              i.icon-headphones
              a(href="#") Winners can enter the draw for some goodies.
            li
              i.icon-time
              a(href="#") You have 30 seconds!
            li
              i.icon-play
              a(href="#") Press "Play!" to start
        .span4.offset1
          button#play.btn.btn-info.btn-large.hidden(type="submit")
            | Play!

    li#game.hidden
      #radar

    li#result.hidden
      .offset2
        .row.retro
          h1 Game Over!
        .row.retro
          p.span2 Your Score: 
          p.span1.score 0
        .row.retro
          p.span2 Your Rating: 
          p.span1 Novice
        .row.retro
          p.span2 You win: 
          p.span1 
            img(src="tshirt.jpg")
        .row
          p 
            | To claim your prize, and a 
            b free 
            | subscription to the ThoughtWorks Technology Radar publication:

        .row
          p.span2 
            i.icon-eye-open
            | Find Natalie
          p.span2 
            i.icon-qrcode
            | Scan your QR code
          p.span2 
            i.icon-retweet
            | Tweet your score on #twradargame
        .row
          p.retro This page will self-destruct in 
            span.countdown ... 
            |  seconds...
            button#restart.btn.btn-info.btn-large(type="submit") Restart Now!


      //- #form
      //-   form#signup(action="/punters", method="POST")
      //-     div.field
      //-       input#full-name(placeholder="Full Name", type="text",name="fullName", required="true")
      //-     div.field
      //-       input#company(placeholder="Company", type="text", name="company", required="true")
      //-     div.field
      //-       input#email(placeholder="Email", type="email", name="emailAddress", required="true")
      //-     button.btn.btn-success.btn-large(type="submit")
      //-       | Sign up
      //-   form#skip
      //-     button.btn.btn-warning.btn-large(type="submit")
      //-       | I don't want to sign up

    li#replay.hidden




block javascript_content
  script(type="text/javascript",src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.1/require.min.js")
  script(type="text/javascript",src="/js/main.js")  
  script
    require(['jquery.bootstrap']);

    require(['jquery', 'game'], function($, Game){
      $(Game);
    });