extends layout

block content
  style
    html, body {
      width:  100%;
      height: 100%;
    }
    body {
      margin: 0px;
      padding: 0px;
    }
    #radar {
      background: white;
      position:fixed;
      width: 864px;
      heigh: 694px;
      left: 50%;
      margin-left: -432px;
      margin-top: -20px;
    }
    .content{
      margin-top: 40px;
    }

    .hidden{
      display: none;
    }
    #intro{
      margin-left: 300px;
      padding-top: 20px;
    }
    #play{
      padding: 100px;
      font-size: 100pt;

    }
  //- canvas#background
  ul.content.unstyled
    li#game.hidden
      #radar

    li#result.hidden
      #description.lead
        h1 Congratulations: You have won!
        p
          | Please approach a ThoughtWorker to collect your Tech Radar T-shirt.
          img(src="tshirt.jpg")
        p
          | If you wish to sign up to ThoughtWorks Technology Radar Publication (released twice a year) and get into the draw to win a macbook air, please enter your details below:
          img(src="macbookair.png", width="160", height="90")

      #form
        form
          div.field
            input#full-name(placeholder="Full Name", type="text")
          div.field
            input#company(placeholder="Company", type="text")
          div.field
            input#email(placeholder="Email", type="text")
          button.btn.btn-success.btn-large(type="submit")
            | Sign up
        form
          button.btn.btn-warning.btn-large(type="submit")
            | I don't want to sign up
    li#intro

      button#play.btn.btn-info.btn-large(type="submit")
        | Play


block javascript_content
  script(src="/bootstrap/js/bootstrap.js")
  script(src="http://www.html5canvastutorials.com/libraries/kinetic-v4.0.3.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js")
  //- script(src="http://remote-tilt.com/js/device-motion-polyfill.js?key=tw_yow_game")
  script(src="canvg-1.2/rgbcolor.js")
  script(src="canvg-1.2/canvg.js")

  != js('radar')
  != js('marble')
  != js('technology_generator')
  != js('game_timer')
  != js('hole')

  script
    $(function() { 
      $('#play').click(function(){
        $('#game').toggleClass('hidden')
        $('#intro').toggleClass('hidden')

        $.getJSON('/data', function(data) {
             new Radar({
               width: 864,
               height: 694,
               data: data,
               containerId: 'radar',
               background_svg : 'radar.svg',
               duration: 5
             }).play().then(function(){
               $('#game').toggleClass('hidden')
               $('#result').toggleClass('hidden')
             })
         });

      })

    });
