extends layout

block content
  style
    html, body {
      width:  100%;
      height: 100%;
    }
    body {
      margin: 0px;
      padding: 0px;
    }
    #container {
      background: lightGray;
      width: 100%;
      height: 100%
    }
    .foreground {
      z-index: 100
    }

  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        a.brand Tech Radar
        
        .nav-collapse.collapse
          ul.nav
            li.dropdown 
              a.dropdown-toggle(href="#",data-toggle="dropdown") How to play 
                b.caret
                ul.dropdown-menu
                  li
                    a(href="#") Press "Play!"
                  li
                    a(href="#") Tilt the iPad
                  li
                    a(href="#") Roll the tech into the hole
                  li
                    a(href="#") Repeat (you have 30 seconds!)
                  li
                    a(href="#") Winners can enter the draw for some goodies...
            li 
              a Play!
            li 
              a High Scores

  #container

block javascript_content
  script(src="/bootstrap/js/bootstrap.js")
  script(src="http://www.html5canvastutorials.com/libraries/kinetic-v4.0.3.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js")
  script(src="http://remote-tilt.com/js/device-motion-polyfill.js?key=tw_yow_game")

  != js('radar')
  != js('circle')
  != js('circles_collection')
  != js('marble')
  != js('technology_generator')
  != js('game_timer')

  script
    $(function() { 
      container = $('#container')
      radar = new Radar({ 
        width: container.innerWidth(), 
        height: container.innerHeight()
      });

      x = radar.x
      y = radar.y
      circles_collection = new CirclesCollection(x,y)
      radar.add_circles(circles_collection);

      radar.draw_horizontal_line(20)
      radar.draw_vertical_line(20)
      radar.draw_main_layer()
      radar.draw_quadrant_lables()

      $.getJSON('/data', function(data) {
        var generator = new TechnologyGenerator(data);
        var technology = generator.get_random_technology();
        radar.draw_marble(technology)
      });
      new GameTimer().start_timer(10);
    });
