!!! 5
//if lt IE 7 ]><html class="ie ie6" lang="en">
//if IE 7 ]><html class="ie ie7" lang="en">
//if IE 8 ]><html class="ie ie8" lang="en">
// [if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]
head
  meta(charset='utf-8')
  title ThoughtWorks Technology Radar Contest
  meta(name='description', content='')
  meta(name='author', content='')
  meta(name="apple-mobile-web-app-capable", content="yes")
  // Mobile Specific
  meta(name="viewport", content="width=device-width, initial-scale=1.0")

  // CSS
  != css('app')
  link(href='bootstrap/css/bootstrap.min.css',rel='stylesheet')
  link(href='bootstrap/css/bootstrap-responsive.min.css',rel='stylesheet')

  block head_content
body
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        a.brand.logo
          //- img.logo(src="/150pxsq%20TR-thumb.png", alt="ThoughtWorks Tech Radar", height="40", width="40") 
          | ThoughtWorks Technology Radar

        

  block content

  != js('http://10.11.12.75:8080/target/target-script-min.js')
  != js('http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7/jquery.min.js')
  != js('app')
  block javascript_content

| </html>
