extends layout

block content
    div#description
        h1 Congratulations: You have placed x items!
        p
            Please approach a ThoughtWorker to collect your Tech Radar T-shirt.
            If you wish to sign up to ThoughtWorks Technology Radar Publication (released twice a year) and get into the draw to win a macbook air, please enter your details below:
    div#form
        form
            div.field
                label(for="full-name") Full Name:
                input#full-name
            div.field
                label(for="company") Company:
                input#company
            div.field
                label(for="email") Email:
                input#email
            input(type="submit",value="Sign up")
        form
            input(type="submit", value="I don't want to sign up")


block javascript_content
    != js('idle_timer')

    script
        $(function() {
            var idle_timer = new IdleTimer();
            idle_timer.start_timer();
            window.addEventListener("touchstart", function() {
                    idle_timer.restart_timer();
                });
            window.onkeypress = function() {
                    idle_timer.restart_timer();
           };
        });


