extends layout

block content


  //- canvas#background
  ul.tw.content.unstyled
    .row-fluid
      .hero-unit
        h1 Terms &amp; Conditions

    .row-fluid
      .span2.offset1
        p.emphasised
          | No purchase or payment of any kind is necessary to enter or win this contest.
        br
        a(href="javascript: window.location='/';").btn.btn-large.btn-info Return to Game


      .span8

        p The following rules apply to the “ThoughtWorks Technology Radar Game” contest (the “Contest”):
        p This contest will begin on (all times local):
        ul
          li 
            strong YOW! Melbourne Conference 2012<br/>
            | 8:00 A.M. 29 November 2012 and ends at 5:00 P.M. on 30 November 2012
          li
            strong YOW! Brisbane Conference 2012<br/>
            | 8:00 A.M. 3 December 2012 and ends at 5:00 P.M. on 4 December 2012
          li
            strong YOW! Sydney Conference 2012<br/> 
            | 8:00 A.M. 6 December 2012 and ends at 5:00 P.M. on 6 December 2012
        br
        p To enter, in 30 seconds score a minimum of 3 balls in the game and then subscribe to the ThoughtWorks Technology Radar Publication. You will be in the draw to win one (1) set of Bose QuietComfort 15 Noise Cancelling Headphones. Any legal resident of the host state of the conference, Australia, age eighteen or over can enter, except employees, agents, or representatives of ThoughtWorks Australia Pty Ltd. (“ThoughtWorks”) or any of its parents, subsidiaries, sister companies, or affiliates, or any member of their immediate family. 
        p Entries that are lost, late, misdirected, garbled, or incompletely received, for any reason, including by reason of hardware, software, browser, or network failure, malfunction, congestion, or incompatibility at the web site or elsewhere, will not be eligible. ThoughtWorks, in its sole discretion, reserves the right to disqualify any person tampering with the entry process, the operation of the iPad application, or otherwise in violation of the rules.  One entry per person.

        p All entry materials become the property of ThoughtWorks and will not be acknowledged or returned. Each entrant releases and discharges ThoughtWorks, the judges, any party associated with the development or administration of the Contest, their employees, agents or representatives or any of their parents, subsidiaries, sister companies, or affiliates from any and all liability in connection with the Contest, including without limitation, legal claims, costs, injuries, losses or damages, demand or actions of any kind.
        p One (1) winner will be selected at random at each of the YOW! conferences (all times local):

        ul
          li 
            strong YOW! Melbourne Conference 2012<br/> 
            | Winner to be announced at 5pm, 30 November 2012<br/>
            | Sebel & Citigate Albert Park, 65 Queens Road Melbourne VIC 3004<br/>
        ul
          li 
            strong YOW! Brisbane Conference 2012 <br/> 
            | Winner to be announced at 5pm, 4 December 2012 <br/> 
            | Brisbane Convention & Exhibition Center, Merivale Street, South Bank QLD 4101 
        ul
          li 
            strong YOW! Sydney Conference 2012 <br/> 
            | Winner to be announced at 5pm, 6 December 2012 <br/> 
            | Pullman Sydney Hyde Park, 36 College Street, Sydney NSW 2010
        br
        p The winners will be announced on the main stage of the conference in each of the cities, and the winner will need to be present in order to claim their prize from the announcer. If the winner is not present, a new winner will be drawn. All decisions are final and binding.
        p The winner will receive one (1) set of Bose QuietComfort 15 Noise Cancelling Headphones. The approximate retail value of each prize is $399. Income and other taxes, if any, are the sole responsibility of the winner.  Prizes cannot be substituted for cash.
        p Subject to all federal, state, and local laws and regulations. No purchase necessary. Void where prohibited.
        p The prize is not transferable. No substitutions for the prize may be made except by ThoughtWorks, in which case a prize of equal or greater value will be substituted.
        p All entries become the property of ThoughtWorks and will not be acknowledged or returned.

        p Promotor:
        p
          | ThoughtWorks Australia Pty Ltd.<br/>
          | Level 8, 51 Pitt Street<br/>
          | Sydney, NSW, 2000<br/>
          | Telephone: 2 9224 1700<br/>


        br
        br
        a(href="javascript: window.location='/';").btn.btn-large.btn-info Return to Game
        br
        br
        br


