@import 'nib'

h2
  smooth-button()
  width: 90%
  font-size: 2em

h3
  margin-top: 20px

pre
  font-family: couriera.brand
    font-family: marydale
  background-color: rgba(0,0,0,.8)
  color: yellow
  width: 100%
  margin-bottom: 20px
  padding: 10px
  border: 1px solid black

game-menu

.navbar .brand.logo
  background: transparent url('/40pxsq%20TR-thumb.png') 0 0 no-repeat
  padding-left: 45px

@font-face
  font-family: delusion
  src: url('/jonathan-paterson_delusion/DELUSION.TTF')

@font-face
  font-family: marydale
  src: url('/marydale.ttf')

#result #description
  font-family: delusion
  text-transform: uppercase

a.brand
  font-family: marydale